/venv
*.tiff
*.tif
__pycache__
/data/SENTINEL1B/*.SAFE
/data/ALOS2PALSAR2/*.zip
/data/LANDSAT8/*.zip
/data/LANDSAT8/*.tar
/data/SENTINEL2/*.zip
/data/*.zip
/data/*.shp
/data/*.shx
/data/*.prj
/data/*.dbf
/data/*.cpg
/data/OUTPUT/*.tiff
/data/*.db
/tests/data/*
*.SAFE/